.content {
    padding: 50px;
  }
  
  .mat-form-field{
    width: 400px;
  }
  
  .mat-form-field{
    margin-left: 50px;
    width: 30%;
  }
  /* .mat-form-field[_ngcontent-teo-c173]{
    width: 30%;
  } */