<div class="content">
    <div style="text-align: center;">
        <h2>登陆</h2>
      </div>

    <mat-form-field>
        <input matInput placeholder="请输入账号(仅数字)" type="number" [(ngModel)]="user.userName" value="{{user.userName}}">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="请输入密码" type="password" [(ngModel)]="user.password">
    </mat-form-field>

    <div>
        <span style="color: crimson;" *ngIf="prompt.state">{{prompt.msg}}</span>
    </div>

    <br>
    <button mat-stroked-button color="primary" (click)="login()">登陆</button>
</div>