<!-- <header class="header">
    <a [routerLink]="[ '/home' ]" routerLinkActive="active">首页</a>
    <a [routerLink]="[ '/login' ]" routerLinkActive="active">登陆</a>
    <a [routerLink]="[ '/register' ]" routerLinkActive="active">注册</a>
    <a [routerLink]="[ '/editor' ]" routerLinkActive="active">编辑</a>
</header> -->
<button mat-button [matMenuTriggerFor]="animals">
    <mat-icon>menu</mat-icon>
</button>

<mat-menu #animals="matMenu">
    <button mat-menu-item [routerLink]="[ '/home' ]">
        <mat-icon>home</mat-icon>首页
    </button>
    <button mat-menu-item [matMenuTriggerFor]="user">
        <mat-icon>person</mat-icon>用户管理
    </button>
    <button mat-menu-item [matMenuTriggerFor]="article">
        <mat-icon>create</mat-icon>文章管理
    </button>
    <a href="http://zx21.xyz/" target="_blank"><button mat-menu-item>
            <mat-icon>menu_book</mat-icon>个人博客
        </button></a>
    <button mat-menu-item (click)="exit()">
        <mat-icon>power_settings_new</mat-icon>退出登陆
    </button>
</mat-menu>

<mat-menu #user="matMenu">
    <button mat-menu-item [routerLink]="[ '/login' ]">登陆</button>
    <button mat-menu-item [routerLink]="[ '/register' ]">注册</button>
    <button mat-menu-item [routerLink]="[ '/update' ]">修改信息</button>
</mat-menu>

<mat-menu #article="matMenu">
    <button mat-menu-item [routerLink]="[ '/editor' ]"> 文章发表</button>
    <!-- <button mat-menu-item [routerLink]="[ '/error' ]">文章编辑</button> -->
    <button mat-menu-item [routerLink]="[ '/articleList' ]">文章修改</button>

</mat-menu>

<mat-progress-bar mode="buffer"></mat-progress-bar>
<div class="body" [style.background-image]="'url(' + backgroundImg+ ')'">
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="footer">
    <mat-divider></mat-divider>
    <div>
        <mat-card>©copyright-2020 by小信</mat-card>
    </div>
</footer>